numpy==1.24.4
scipy==1.10.1
networkx==2.8.8
tsp-solver==0.1
tsplib95==0.7.1
tabulate==0.8.10
Deprecated==1.2.18
wrapt==1.17.3
evo==1.31.1
git+https://github.com/jvkersch/pyconcorde.git@393a235a127dc4e887e77f1c2e7c5bd5cd28369c#egg=pyconcorde
